<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head">
    <title th:text="${(pageTitle == '') ? 'Hello Spring Boot' : 'Hello Spring Boot - ' + pageTitle}">LearnerBot</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" rel="stylesheet" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="/">Hello Spring</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headerMenu" aria-controls="headerMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="headerMenu">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="https://github.com/peterabyte/hello-spring"><span class="fab fa-github"></span> GitHub</a></li>
                <li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link" href="/topics"><span class="fas fa-star"></span> Topics</a></li>
                <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
                    <a id="navBarUser" href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="fas fa-user"></span> <span sec:authentication="name"></span> <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navBarUser">
                        <a sec:authorize="hasRole('ADMIN')" class="dropdown-item" href="/admin/dashboard"><span class="fas fa-crown"></span> Admin Dashboard</a>
                        <a class="dropdown-item" href="/user/edit"><span class="fas fa-cog"></span> My Profile</a>
                        <a class="dropdown-item" href="/logout"><span class="fas fa-sign-out-alt"></span> Log out</a>
                    </div>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item"><a href="/login" class="nav-link"><span class="fas fa-sign-in-alt"></span> Log in</a></li>
                <li sec:authorize="isAnonymous()" class="nav-item"><a href="/register" class="nav-link"><span class="fas fa-user"></span> Register</a></li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>