<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head(pageTitle='Topics')">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<h1>Topics <a id="newTopic" href="/topics/edit" class="btn btn-primary"><span
        class="glyphicon glyphicon-plus"></span> Add topic</a></h1>
<table class="table table-responsive table-striped table-condensed">
    <thead class="">
    <tr>
        <th>name</th>
        <th>description</th>
        <th>updated at</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="topic : ${topics}">
        <td data-title="name"><a th:href="|/topics/${topic.slug}|" th:text="${topic.name}"></a></td>
        <td data-title="description" th:text="${topic.description}"></td>
        <td data-title="updatedAt" th:text="${topic.updatedAt}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>